body, html {
  height: 100%;
}

.background-image-rain {
  height: 100%;
  background: url('https://res.cloudinary.com/dzixj0ktk/image/upload/o_65/v1539797933/photo_1_qwxu9e.jpg') no-repeat 0 0;
	background-size: cover;
	background-attachment: fixed;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 82.5%;
  padding-bottom: 7.5%;
}
