body, html {
  height: 100%;
}

.top-container {
  position: relative;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#background-image-rain {
  position: absolute;
  height: 100%;
  width: 100%;

}

.logo-container {
  position: absolute;
  z-index: 100;

  width: 67.5%;
}

#logo {
  z-index: 100;
  position: absolute;

  width: 100%;
  margin: auto;
}
